:root {
  --color-bg-primary: #1f2937; /* gray-800 */
  --color-text-primary: #d1d5db; /* gray-300 */
  --color-text-heading: #60a5fa; /* blue-400 */
  --color-button-bg: #84cc16; /* lime-500 */
  --color-button-bg-hover: #65a30d; /* lime-600 */
  --color-button-text: #1f2937; /* gray-800 */
}